
bin/
obj/
out/
[Dd]ebug/
[Rr]elease/


*.csv
*.log
*.logs

.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json


.DS_Store
thumbs.db
ehthumbs.db
Desktop.ini
*.env
